body {
    background-color: #191724;
}

@media screen and (max-width: 600px) {
    .links {
        margin: auto;
        width: auto;
    }
}

h1, h2, h3 {
    color: #c4a7e7;
}

p {
    color: #e0def4;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'League Spartan', sans-serif;
}

p {
    font-family: 'Roboto Mono', monospace;
}

.links {
    font-family: 'Roboto Mono', monospace;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    flex-direction: row;
}

.aclass:link {
    color:#c4a7e7
}

.aclass:visited {
    color: #c4a7e7;
}

.aclass:hover {
    color: #e0def4;
}

footer {
    position: absolute;
    bottom: 0;
}

.footer1 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.btn {
    background-color: #393552;
    padding: 16px;
    border-radius: 12px;
}

.btn2, .btn2tag {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e0def4;
    border: none;
    font-family: 'Roboto Mono', monospace;
}

.btn2tag {
    background-color: #191724;
    padding: 15px 32px;
    display: inline-block;
    font-size: 20px;
}

.fa {
    text-align: center;
    color: #c4a7e7;
}

.slideout {
    height: 100%; 
    width: 250px;
    position: fixed; 
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #393552;
    overflow-x: hidden;
    padding-top: 20px;
}

.slideout a {
    font-family: 'Roboto Mono', monospace;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.slideout a:hover {
    color: #e0def4;
}

.slideout a:link {
    color: #c4a7e7;
}

.slideout a:visited {
    color: #c4a7e7;
}

.noteshere {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 225px;
}

label, textarea {
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    letter-spacing: 1px;
}

.noteshere textarea {
    padding: 10px;
    width: 500px;
    line-height: 1.5;
    border-radius: 5px;
    border: none;
    color: #191724;
}

.noteshere label {
    display: block;
    margin-bottom: 10px;
    color: #c4a7e7;
}
